<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.jangbogo.admin.domain.User"/>
        <typeAlias alias="Seller" type="com.jangbogo.admin.domain.Seller"/>
        <typeAlias alias="SellerDtl" type="com.jangbogo.admin.domain.SellerDtl"/>
        <typeAlias alias="Address" type="com.jangbogo.admin.domain.Address"/>
        <typeAlias alias="SearchCondition" type="com.jangbogo.admin.domain.SearchCondition"/>
        <typeAlias alias="OrderDto" type="com.jangbogo.admin.domain.OrderDto"/>
        <typeAlias alias="OrderDetailDto" type="com.jangbogo.admin.domain.OrderDetailDto"/>
    </typeAliases>
</configuration>