<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jangbogo.admin.dao.SellerMapper">

    <update id="reportSeller" parameterType="map">
        UPDATE SELER SET STATE_CD = 3 WHERE IDX = #{idx} AND EMAIL = #{email};
    </update>

    <update id="approveSeller" parameterType="map">
        UPDATE SELER SET STATE_CD = 2 WHERE IDX = #{idx} AND EMAIL = #{email};
    </update>

    <select id="selectSeller" resultType="Seller">
        SELECT * FROM SELER WHERE IDX = #{idx};
    </select>

</mapper>
